.default-width {
  max-width: 80%;
}
@media screen and (max-width: 800px) {
  .default-width {
    max-width: 100%; 
  }
}


.default-logo-height {
  max-height: 60px; 
}
@media screen and (max-width: 500px) {
  .default-logo-height {
    max-height: 45px;
  }
}


.default-menu {
  max-width: 80%;
}
@media screen and (max-width: 800px) {
  .default-menu {
    max-width: 100%; 
  }
}



.propView-price {
  justify-content: center;


}
@media screen and (width: 500px) {
  .propView-price {
    padding: 0;
    margin: 0;
  }
}


.spread {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* reset uls */
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

a{
  text-decoration: none;
}

.justify-content {
	justify-content: center;
	display: flex;
}

.ul-search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
	margin: 0;
}

.ul-li-a{
  height: 15rem;
  width: 15rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  background: white;
}

.picture{
  height: 9.8rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ul.reset {
	list-style: none;
	padding: 0;
  margin: 0;
}

.links-quiet a {
  text-decoration: none;
  color: rgb(185, 185, 185);
  line-height: 1.2;
}

.header-upper {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .1em;
  color:  rgb(185, 185, 185);
}

.tactile {
  padding: 13px 13px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
}

.tactile-menu {
  padding: 13px 13px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: .9rem;
  display: inline-block;
}

/* Property view  */

.propviewcoverphoto{
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
  margin: 0.5rem;
  display:flex;
  overflow: hidden;
}

.propviewpictures{
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  overflow: hidden;
}

.ul-price{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* LOGIN */

 
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  input[type=text] {
    background-color: #f6f6f6;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=text]:placeholder {
    color: #eb922d;
  }



  input[type=email] {
    background-color: #f6f6f6;
  }

  input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=email]:placeholder {
    color: #eb922d;
  }


  input[type=password] {
    background-color: #f6f6f6;
  }

  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=password]:placeholder {
    color: #eb922d;
  }


  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  

/* Pictures */

.grid {
	display: grid;
	grid-gap: 40px;
}

.md-grid-cols-2 {
	grid-template-columns: 1fr 1fr
}

.insert-pictures{
  height: 150px;
  width: 180px;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  overflow: hidden;
}