<div class="container default-width">
  <div class="row py-5" >
     <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">

    <div class="col-sm pb-4">
      <h2 class="header-upper">Members</h2>
      <ul class="reset links-quiet">
        <li><a href="https://findyourground.online/#/signup">Become a member</a></li>
        <li><a href="https://findyourground.online/#/login">Login</a></li>
      </ul>
    </div>
    <div class="col-sm pb-4">
      <h2 class="header-upper">Links</h2>
      <ul class="reset links-quiet">
        <li><a href="https://findyourground.online/#/propertyInfo">Submit your Property</a></li>
      </ul>
    </div>
    <div class="col-sm pb-4">
      <h2 class="header-upper">Follow us</h2>
      <ul class="reset links-quiet">
        <li>
          <a target="_blank" href="http://facebook.com/findyourground.online">
            Facebook
          </a>
        </li>
        <li>
          <a target="_blank" href="http://instagram.com/findyourground.online/">
            Instagram
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm pb-4">
      <h2 class="header-upper">Contact Us</h2>
      <ul class="reset links-quiet">
        <li><a href="#">contact@findyourground.online</a></li>
      </ul>
    </div>
  </div>
  </div>
</div>