<nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light " ng-controller="loginCtrl">
  <a class="navbar-brand" href="#"><img class="default-logo-height" style="max-width:100%; height:auto; width:100%;" src="src/img/logo_transparent.png" alt=""></a>
    
  <div ng-show="!user">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" ng-show="!user">
        <li class="nav-item active">
          <a class="nav-link" href="#/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/login">Login</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary p-2">
            <a class="text-white" href="#/signup">Sign Up</a>
          </button>
        </li>
      </ul>
    </div>
  </div>


  <div ng-show="user">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, {{user.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#/myProperties/{{user.id}}">My Properties</a>
            <a class="dropdown-item" href="#/profile/{{user.id}}">My Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-click="logout()" href="#/">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary">
            <a class="text-white" href="#/propertyInfo">Submit Property</a>
          </button>
        </li>
      </ul>
    </div>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
